/* Variables */

:root {
	--darkcyan: hsl(158, 36%, 37%);
	--cream: hsl(30, 38%, 92%);
	--verydarkblue: hsl(212, 21%, 14%);
	--darkgrayishblue: hsl(228, 12%, 48%);
	--white: hsl(0, 0%, 100%);
}

/* Global Styles */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	background-color: var(--cream);
}

/* Core Styles */

main {
	align-items: center;
	display: flex;
	height: 100vh;
	justify-content: center;
}

picture {
	flex: 1 1 18.75rem;
}

img {
	display: block;
	height: auto;
	width: 100%;
}

h1 {
	color: var(--verydarkblue);
	font: 700 2rem/2rem "Fraunces";
	margin-bottom: 1.5rem;
}

p {
	color: var(--darkgrayishblue);
	font: 500 0.875rem/1.5rem "Montserrat";
	margin-bottom: 1.875rem;
}

button {
    align-items: center;
	background-color: var(--darkcyan);
	border: none;
	border-radius: 0.5rem;
	color: var(--white);
    display: flex;
	font: 700 0.875rem "Montserrat";
	height: 3rem;
    justify-content: center;
	width: 100%;
}

footer {
    bottom: 0;
    position: absolute;
    width: 100%;
}

/* Classes */

.container {
	border-radius: 0.625rem;
	display: flex;
	flex-wrap: wrap;
    margin: 1.75rem 1rem;
	max-width: 37.5rem;
	overflow: hidden;
}

.content {
	background-color: var(--white);
	flex: 1 1 18.75rem;
	padding: 2rem;
}

.product {
	color: var(--darkgrayishblue);
	display: block;
	font: 500 0.75rem "Montserrat";
	margin-bottom: 1.25rem;
	text-transform: uppercase;
}

.price {
	display: flex;
	align-items: center;
	margin-bottom: 1.875rem;
}

.new-price {
	color: var(--darkcyan);
	font: 700 2rem/2rem "Fraunces";
	margin-right: 1.25rem;
}

.original-price {
	color: var(--darkgrayishblue);
	font: 500 0.81rem "Montserrat";
	text-decoration: line-through;
}

.icon-cart {
	height: 1rem;
    margin-right: 0.75rem;
	width: 1rem;
}

.attribution {
    text-align: center;
}

/* Media Queries */

@media screen and (max-width: 630px) {
    main {
        height: auto;
    }

    h1 {
        margin-bottom: 1rem;
    }

    p {
        margin-bottom: 1.5rem;
    }

    .product {
        margin-bottom: 0.75rem;
    }

    .content {
        padding: 1.5rem;
    }

    .price {
        margin-bottom: 1.25rem;
    }
}